CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_demo_esp_littlefs.csv"

CONFIG_LITTLEFS_FLUSH_FILE_EVERY_WRITE=y
CONFIG_IDF_TARGET="esp32c3"
